.search-list li:nth-of-type(1n + 5) {
  display: none;
}
* {
  box-sizing: border-box;
}
body {
  background-color: rgb(231, 231, 231);
}
.backdrop,
.backdrop-coa,
.backdrop-flag {
  z-index: 1000;
  position: absolute;
  width: 99.1vw;
  height: 140vh;
  background-color: rgba(0, 0, 0, 0.25);
  display: none;
  justify-content: center;
  align-items: center;
}
.backdrop .modal,
.backdrop-coa .modal-coa,
.backdrop-flag .modal-flag {
  background-color: #ade8f4;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  border: 3px solid #43c51f;
  border-radius: 10px;
  text-align: center;
}
.new-game {
  display: block;
}
.new-game button {
  padding: 10px;
  width: 150px;
  border: none;
  background-color: rgb(43, 208, 158);
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
.new-game button:hover {
  background-color: rgb(34, 157, 120);
}

header {
  text-align: center;
  padding: 20px;
  background: #26cbe8;
}
header h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
main {
  text-align: center;
  margin-top: 20px;
}
main .title {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #26cbe8;
  margin-block: 40px;
}
main input {
  width: 390px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  font-size: 28px;
}
main input:focus {
  border: 1px solid rgb(36, 156, 30);
  box-shadow: 5px 5px 15px 5px rgba(92, 92, 92, 0.25);
}
.hint-flag,
.coats-of-arms {
  display: grid;
  place-items: center;
}
.coa,
.flag-h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin-block: 35px;
  text-decoration: underline;
  cursor: pointer;
  color: #26cbe8;
  font-weight: 700;
  width: fit-content;
}
.search-list {
  width: 30%;
  margin: 0 auto;
  background-color: aliceblue;
  z-index: 1000;
}
.list-item {
  font-size: 24px;
  padding: 14px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.list-item:hover {
  background-color: rgb(234, 234, 234);
  color: rgb(36, 156, 30);
}
.answers {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.answer,
.legend {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  place-items: center;
  margin-bottom: 20px;
}
.legend {
  font-family: "Montserrat", sans-serif;
  padding: 15px 5px;
  border-bottom: 2px solid #48cae4;
  margin: 0 auto;
}
.answer {
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 15px 5px rgba(92, 92, 92, 0.25);
}
.continent,
.subregion,
.population,
.size,
.borders {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #333;
}
.flag img {
  border-radius: 10px;
}

.success {
  background-color: #43c51f;
}
.lower {
  background-color: #f5d743;
}
.lower::after {
  content: "↓";
  font-size: 28px;
  margin-bottom: 5px;
}
.higher {
  background-color: #f54f43;
}
.higher::after {
  content: "↑";
  font-size: 28px;
  margin-bottom: 5px;
}
